* {
	font-family:
		"Pretendard Variable",
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		"Helvetica Neue",
		"Segoe UI",
		"Apple SD Gothic Neo",
		"Noto Sans KR",
		"Malgun Gothic",
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
	/* overflow: hidden; */
}

#yorkie-intelligence-footer .wmde-markdown {
	-webkit-user-modify: read-only;
	white-space: initial !important;
}
