services:
    # This config is for MongoDB v8
    # It's a Replica Set (required for Prisma Client)
    mongo:
        build:
            context: ./
            args:
                MONGO_VERSION: 8
        environment:
            MONGO_REPLICA_HOST: 127.0.0.1
            MONGO_REPLICA_PORT: 27017
            # Use "mongosh" for MongoDB v5+
            MONGO_COMMAND: "mongosh"
        ports:
            - "27017:27017"
        restart: unless-stopped
        healthcheck:
            # Use "mongosh" for MongoDB v5+
            test:
                [
                    "CMD",
                    "mongosh",
                    "admin",
                    "--port",
                    "27017",
                    "--eval",
                    "db.adminCommand('ping').ok",
                ]
            interval: 5s
            timeout: 2s
            retries: 20
