services:
    yorkie:
        image: "yorkieteam/yorkie:latest"
        command: ["server", "--pprof-enabled"]
        restart: always
        ports:
            - "8080:8080"
            - "8081:8081"

    yorkie-intelligence:
        image: "ollama/ollama:latest"
        restart: always
        ports:
            - "11434:11434"
        healthcheck:
            test: ["CMD", "ollama", "list"]
            interval: 10s
            timeout: 5s
            retries: 5

    init_ollama:
        image: "ollama/ollama:latest"
        depends_on:
            yorkie-intelligence:
                condition: service_healthy
        environment:
            OLLAMA_HOST: "http://yorkie-intelligence:11434"
        entrypoint: >
            /bin/sh -c "
            echo 'Pulling nomic-embed-text model...';
            ollama pull nomic-embed-text;
            echo 'Model downloaded successfully';
            exit 0;
            "

    mongo:
        build:
            context: ./mongodb_replica
            args:
                MONGO_VERSION: 7.0
        environment:
            MONGO_REPLICA_HOST: 127.0.0.1
            MONGO_REPLICA_PORT: 27017
            MONGO_INITDB_DATABASE: "codepair"
            MONGO_COMMAND: "mongosh"
        ports:
            - "27017:27017"
        restart: unless-stopped
        healthcheck:
            test:
                [
                    "CMD",
                    "mongosh",
                    "admin",
                    "--port",
                    "27017",
                    "--eval",
                    "db.adminCommand('ping').ok",
                ]
            interval: 5s
            timeout: 2s
            retries: 20

    qdrant:
        image: qdrant/qdrant:v1.16.2
        ports:
            - "6333:6333" # HTTP API
            - "6334:6334" # gRPC (optional)
        volumes:
            - qdrant_data:/qdrant/storage
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
            interval: 10s
            timeout: 5s
            retries: 5

    minio:
        image: minio/minio
        ports:
            - "9000:9000"
            - "9001:9001"
        environment:
            MINIO_ROOT_USER: "minioadmin"
            MINIO_ROOT_PASSWORD: "minioadmin"
        command: server --console-address ":9001" --address ":9000" /data
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
            interval: 30s
            timeout: 20s
            retries: 3

    init_minio:
        image: minio/mc
        depends_on:
            minio:
                condition: service_healthy
        entrypoint: >
            /bin/sh -c "
            mc alias set codepair http://minio:9000 minioadmin minioadmin --api S3v4;
            mc mb codepair/default-storage;
            exit 0;
            "

volumes:
    qdrant_data:
