version: "3.8"

services:
    codepair-backend:
        build:
            context: ../
        environment:
            DATABASE_URL: "mongodb://mongo:27017/codepair"
            # Environment variables need to be passed to the container
            GITHUB_CLIENT_ID: "your_github_client_id_here"
            GITHUB_CLIENT_SECRET: "your_github_client_secret_here"
            GITHUB_CALLBACK_URL: "http://localhost:3000/auth/login/github"
            JWT_AUTH_SECRET: "you_should_change_this_secret_key_in_production"
            FRONTEND_BASE_URL: "http://localhost:5173"
            YORKIE_API_ADDR: "http://yorkie:8080"
            YORKIE_PROJECT_NAME: "default"
            YORKIE_PROJECT_SECRET_KEY: ""
            YORKIE_PROJECT_TOKEN: ""
            YORKIE_INTELLIGENCE: false
            OPENAI_API_KEY: "your_openai_api_key_here"
            LANGCHAIN_ENDPOINT: "https://www.langchain.com/langsmith"
            LANGCHAIN_API_KEY: "your_langsmith_api_key_here"
            LANGCHAIN_PROJECT: "your_langsmith_project_name_here"
            FILE_UPLOAD: false
            AWS_S3_BUCKET_NAME: "your_s3_bucket_name"
        ports:
            - "3000:3000"
        depends_on:
            - mongo
        restart: unless-stopped
        links:
            - "mongo:mongo"
            - "yorkie:yorkie"

    yorkie:
        image: "yorkieteam/yorkie:latest"
        command: ["server", "--enable-pprof"]
        restart: always
        ports:
            - "8080:8080"
            - "8081:8081"

    mongo:
        build:
            context: ./mongodb_replica
            args:
                MONGO_VERSION: 4
        environment:
            MONGO_REPLICA_HOST: "mongo"
            MONGO_REPLICA_PORT: 27017
            MONGO_INITDB_DATABASE: "codepair"
            MONGO_COMMAND: "mongo"
        ports:
            - "27017:27017"
        restart: unless-stopped
        healthcheck:
            test:
                ["CMD", "mongo", "admin", "--port", "27017", "--eval", "db.adminCommand('ping').ok"]
            interval: 5s
            timeout: 2s
            retries: 20
