name: CI Backend
on:
  push:
    branches: main
    paths:
      - ".github/workflows/ci_backend.yaml"
      - "backend/**"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/ci_backend.yaml"
      - "backend/**"

jobs:
  test:
    name: Check the source code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    env:
      working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Install packages
        run: pnpm ci
        working-directory: ${{ env.working-directory }}
      - name: Prettier
        run: pnpm run format:check
        working-directory: ${{ env.working-directory }}
      - name: Lint
        run: pnpm run lint
        working-directory: ${{ env.working-directory }}
      - name: Build
        run: pnpm run build
        working-directory: ${{ env.working-directory }}
