name: CI Backend
on:
  push:
    branches: main
    paths:
      - "backend/**"
  pull_request:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  test:
    name: Check the source code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    env:
      working-directory: ./backend
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install packages
        run: npm ci
        working-directory: ${{ env.working-directory }}
      - name: Prettier
        run: npm run format:check
        working-directory: ${{ env.working-directory }}
      - name: Lint
        run: npm run lint
        working-directory: ${{ env.working-directory }}
