name: CI GO Backend
on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/ci_backend_go.yaml"
      - "backend-go/**"
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/ci_backend_go.yaml"
      - "backend-go/**"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      working-directory: ./backend-go

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Download Dependencies
        run: go mod download
        working-directory: ${{ env.working-directory }}

      - name: Install Tools
        run: make tools
        working-directory: ${{ env.working-directory }}

      - name: Format
        run: make fmt
        working-directory: ${{ env.working-directory }}

      - name: Lint
        run: make lint
        working-directory: ${{ env.working-directory }}

      - name: Test
        run: make test
        working-directory: ${{ env.working-directory }}

      - name: Build
        run: make build
        working-directory: ${{ env.working-directory }}
